<footer class="bg-body-tertiary text-center py-4">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Image -->
    <section class="mb-4">
      <img src="static/logo.webp" alt="Footer Image" width="100" class="img-fluid">
    </section>
    <!-- Section: Image -->

    <!-- Section: Form -->
    <section class="mb-4">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form5Example24" class="form-control" placeholder="Email address" />
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-primary mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Contact Button -->
    <section class="mb-4">
      <a href = "mailto:mailto:riad.sultanov.1999@gmail.com" class="btn btn-primary">Contact Us</a>
    </section>
    <!-- Section: Contact Button -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam eum
        harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section>
      <div class="d-flex justify-content-center">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="text-body" href="#!">Link 1</a>
          </li>
          <li class="list-inline-item">
            <a class="text-body" href="#!">Link 2</a>
          </li>
          <li class="list-inline-item">
            <a class="text-body" href="#!">Link 3</a>
          </li>
          <li class="list-inline-item">
            <a class="text-body" href="#!">Link 4</a>
          </li>
        </ul>
      </div>
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">RS Development Team</a>
  </div>
  <!-- Copyright -->
</footer>
